/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* CSS Variables */

:root {
  --main-color: #0B0C10;
  --complement-color: hsl(213, 24%, 19%);
  --neutral-color: #C5C6C7;
  --contrast-color: #66FCF1;
  --slight-contrast-color: #45A29E;
  --header-font: 'Playfair Display', serif;
  --link-font: 'Ubuntu', sans-serif, 'Arial';
}

/* CSS Grid */

.wrapper {
  width: 100%;
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

/* BEM Blocks */

.nav {
  grid-area: nav;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(10deg, var(--main-color), var(--complement-color));
  text-align: right;
}

.header {
  grid-area: header;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--slight-contrast-color);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* BEM Elements */

.nav__link {
  text-decoration: none;
  font-size: calc(0.9rem + 0.3vw);
  color: var(--neutral-color);
  margin-right: 20px;
  font-family: var(--link-font);
  padding: 10px;
}

.header__page-title {
  font-size: calc(3rem + 3vw);
  font-family: var(--header-font);
  font-weight: 700;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* BEM Modifiers */


/* Media Queries */

@media (min-width: 400px) {}